.button:hover {
    background-color: var(--primary-color-hover, #ffcc00);
    color: black;
    transform: scale(1.05);
}

.card:hover .card-inner {
    transform: rotateY(180deg) scale(1.05);
}

#buildings:hover {
    filter: brightness(1.2); 
}

@media (max-width: 768px) {
    #buildings:hover {
        filter: none;
    }
}

